body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: rgb(39, 39, 111);
}

header {
    background-color: rgb(39, 39, 111);
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1{
    color: white;
}

h2{
    color: rgb(39, 39, 111);
}

h3{
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 50, 131);
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: rgb(76, 76, 172);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.content {
    text-align: center;
}

footer {
    background-color: rgb(39, 39, 111);
    color: #fff;
    text-align: center;
    padding: 10px;
}